extends ../layout/head

block content
  h1= title
  div.main
    div.search
      input.input(name='appname',placeholder='应用名称')
      input.input(name='pagename',placeholder='页面名称')
      input.input(name='apiname',placeholder='接口名称')
      a.btn.btn-link.J-search 搜索
      a.btn.btn-black.J-reset 重置
      a.btn.btn-create(href="/detail?create") 新建
      a.btn.btn-warnning(href="/feedback") 吐槽
      a.btn.btn-create(href="/logs") 日志
    ul.list.J-list
      each item, i in list
        li.item(data-para="{pagename:'#{item.pagename}',apiname:'#{item.apiname}'}")
          span.span1 #{item.appname}
          span.span1 #{item.pagename}
          span.span1
            a(href="/detail?page=#{item.pagename}&api=#{item.apiname}") #{item.apiname}
          span.span3 !{item.description ? item.description.replace(/[\n,\r]/gi,'<br>') : item.description}
          span.span3
            a(class="url local",target="_blank",href="/nodeapi/#{item.pagename}/#{item.apiname}") /nodeapi/#{item.pagename}/#{item.apiname}
            <br>
            a(class="url online",target="_blank",href="#{item.onlineurl}") #{item.onlineurl}
          span.span1
            a.btn.btn-delete.J-delete 删除
