doctype html
html
  head
    title= title
    link(rel='stylesheet',href='//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css')
    link(rel='stylesheet', href='/dest/css/#{pagename}/#{pagename}.css')
    script(src='//cdn.bootcss.com/zepto/1.2.0/zepto.min.js')
  body
    block content
    script(src='//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js')
    script(src='/dest/js/ajax.js')
    script(src='/dest/js/#{pagename}/#{pagename}.js')